{% extends "base.html" %}
{%block title%}
Upload Recipe
{% endblock %}
{% block body%}
<div class="m-3 text-center">
    <h1>Upload</h1>
</div>
<div class="container-fluid row justify-content-around">
    <form class="p-4 card col-10 col-lg-5" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{message}}
          </div>
        {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input name="title" required type="text" class="form-control" placeholder="Recipe title">
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea name="description" required class="form-control" placeholder="Write your recipe here..."></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Youtube Link</label>
            <input name="link" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Image</label>
            <input name="image" type="file" class="form-control">
          </div>
        <button type="submit" class="btn btn-primary align-items-center">Submit</button>
    </form>
</div>
{% endblock %}