{% extends "base.html" %}
{%block title%}
Recipe Details
{% endblock %}

{% block body %}

<div class="container-fluid p-2">
    <h2 class="p-2 text-center">Recipie Details</h2>
</div>
<div class="container-fluid card col-11 col-lg-8 p-2">
    <h1 class="p-3">{{data.title}}</h1>
    <div class="row justify-content-around g-2">
        <div class="col-11">
            <p>
                {% if data.image %}
                <img src="{{data.image.url}}" class="float-end img-fluid rounded col-6 p-3">
                {{data.description|safe}}
                {% endif %}
            </p>
        <div class="container-fluid">
            <a class="btn btn-primary mb-2 fa-brands fa-youtube" href="{{data.link}}">
            </a>
            <a class="btn btn-primary mb-2" href="{% url 'recipes' %}?page={{page}}" role="button">&laquo; Back</a>
        </div>
        </div>
    </div>
</div>

{% endblock %}